<div>
 <ul>
     {{#each artist}}
     <li>{{this.name}}</li>
     <li><img src="{{this.images.[0].url}}" alt=""></li>
     <a href="/{{artistId}}"> <li><button>Albums</button></li> </a>
    
     {{/each}}
 </ul>

</div>

